<h1>1. protocolRelativeURL 이슈</h1>
<br />
<div>
    <div>
        ie 8, 9 에서는 // 을 지원할까?
    </div>
    <div>
        해답은 https://stackoverflow.com/questions/550038/is-it-valid-to-replace-http-with-in-a-script-src-http 에서 찾을 수 있다.
    </div>
    <div>
        요약하자면 가능하다. <br />
        개발자도구에서 click가능한 url이 아닌 상태로 열린다.<br />
        그건 https://packagecontrol.io/packages/Clickable%20URLs 로 해결이 가능하다.
    </div>
</div>