<div><h1>2. Primitive Types</h1></div>

<div>String : "Hello they call me"</div>
<div>Number : 3 ,  3.6     -> 정수, 소수</div>
<div>bollean : true , false</div>
<div>undefined : 정의가 되지 않음</div>
<div>null : 존재하지 않음으로 정의가 됨</div>
<div>NaN : 수식을 실행한 값이 숫자가 아닌 경우</div>
<div>Type을 알아내는 방법 typeof(변수명)</div>
<div><h2>null과 undefined의 차이점은 무엇일까?</h2> </div>

    let hello;
    hello;
    console.log(hello === undefined)       -> true
    console.log(hello === null)            -> false

<script>
    let hello;
    hello;
    console.log(hello === undefined)
    console.log(hello === null)
</script>


