<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>gitHubTest</title>

</head>
<body>

    @RenderBody()
    
    <div id="footer" style="margin-top:30px;">
        <a href="/">메인으로 돌아가기</a>
    </div>

</body>
</html>
