<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contents</title>
</head>
<body>
    <div><h1>개발토끼의 C#강의 노트</h1></div>
    <a href="/DevelopmentRabbit/introudceASPNET"><div>1. ASP.NET 소개 .net Framework, .net Core</div></a>
    <a href="/DevelopmentRabbit/MakeMVCCoreProject"><div>2. 프로젝트 설정 파일 소개</div></a>
    <a href="/DevelopmentRabbit/UseLayout"><div>3. LayOut 이란</div></a>
    <a href="/DevelopmentRabbit/RazorSyntax"><div>4. Razor Syntax(페이지 안 반복 if문)</div></a>
    <a href="/DevelopmentRabbit/MoveDataViewFromController"><div>5. 컨트롤러에서 뷰로 데이터 이동</div></a>
    <a href="/DevelopmentRabbit/EntityFramework"><div>6. EntityFramework</div></a>
</body>
</html>
