<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contents</title>
</head>
<body>
    <partial name="/Views/DevelopmentRabbit/Contents.cshtml" />
    <div>
        <h2> 6. EntityFramework</h2>
    </div>
    <div>
        <div>C# DB 통신                                 </div>
        <div>1. ADO.NET                                 </div>
        <div>2. Enterprise Library 5                    </div>
        <div>--쿼리문을 직접 작성하여 값을 처리         </div>
        <div>--Logging에 좋음                           </div>
        <div>                                           </div>
        <div>2-1 Database First 방식                    </div>
        <div>-- Database 기준으로 Application 개발      </div>
        <div>                                           </div>
        <div>2-2 Code First 방식                        </div>
        <div>-- Code -> Database 생성해 Application 개발</div>
    </div>
</body>
</html>
