<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contents</title>
</head>
<body>
    <partial name="/Views/DevelopmentRabbit/Contents.cshtml" />
    <div>
        <h2> 6. EntityFramework</h2>
    </div>
    <div>
        C# DB 통신
        1. ADO.NET
        2. Enterprise Library 5
        --쿼리문을 직접 작성하여 값을 처리
        --Logging에 좋음
        
        2-1 Database First 방식
        -- Database 기준으로 Application 개발
        
        2-2 Code First 방식
        -- Code -> Database 생성해 Application 개발
    </div>
</body>
</html>
