<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contents</title>
</head>
<body>
    <partial name="/Views/DevelopmentRabbit/Contents.cshtml"/>
    <div>
        <h2>1. ASP.NET 소개 .Net Framework .net Core</h2>
    </div>
    <div>
        .NET CORE 환경에서는 리눅스, IOS환경에서도 구동한다.
        ASP.NET은 윈도우 환경에서만 사용가능하다.
        - 기능상 비슷함
        - System.Net.XXXX 가 제거된 버전이 ASP.NET CORE
        
        version
        - ASP.NET 4.xx - ASP.NET MVC 5
        - ASP.NET 5.xx - ASP.NET MVC 6

        ASP.net
        1. Web Form - 안 쓸거니까 넘어가자.

        2. ASP.NET MVC
        - View -> HTML CSS JAVASCRIPT
        - Model -> 비지니스 로직, 서비스 클래스
        - Controller -> DB 통신, 기타 계산

        3.SignalR
        - 실시간 채팅 서비스

        4. Web API
        - 데이터 베이스에서 나온 정보를 XML JSON 형식 송출해주는 서비스
        - RESTful API
        - Stateless
        - 모든 플랫폼 통신이 가능함(윈도우 프로그램, 안드로이드, IOS 앱과 통신 가능)
    </div>
</body>
</html>
