<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contents</title>
</head>
<body>
    <partial name="/Views/DevelopmentRabbit/Contents.cshtml"/>
    <div>
        <h2>1. ASP.NET 소개 .Net Framework .net Core</h2>
    </div>
    <div>
        <div>.NET CORE 환경에서는 리눅스, IOS환경에서도 구동한다.                       </div>
        <div>ASP.NET은 윈도우 환경에서만 사용가능하다.                                  </div>
        <div>- 기능상 비슷함                                                            </div>
        <div>- System.Net.XXXX 가 제거된 버전이 ASP.NET CORE                            </div>
        <div>                                                                           </div>
        <div>version                                                                    </div>
        <div>- ASP.NET 4.xx - ASP.NET MVC 5                                             </div>
        <div>- ASP.NET 5.xx - ASP.NET MVC 6                                             </div>
        <div>                                                                           </div>
        <div>ASP.net                                                                    </div>
        <div>1. Web Form - 안 쓸거니까 넘어가자.                                        </div>
        <div>                                                                           </div>
        <div>2. ASP.NET MVC                                                             </div>
        <div>- View -> HTML CSS JAVASCRIPT                                              </div>
        <div>- Model -> 비지니스 로직, 서비스 클래스                                    </div>
        <div>- Controller -> DB 통신, 기타 계산                                         </div>
        <div>                                                                           </div>
        <div>3.SignalR                                                                  </div>
        <div>- 실시간 채팅 서비스                                                       </div>
        <div>                                                                           </div>
        <div>4. Web API                                                                 </div>
        <div>- 데이터 베이스에서 나온 정보를 XML JSON 형식 송출해주는 서비스            </div>
        <div>- RESTful API                                                              </div>
        <div>- Stateless                                                                </div>
        <div>- 모든 플랫폼 통신이 가능함(윈도우 프로그램, 안드로이드, IOS 앱과 통신 가능</div>
    </div>
</body>
</html>
