<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contents</title>
</head>
<body>
    <partial name="/Views/DevelopmentRabbit/Contents.cshtml" />
    <div>
        <h2> 7. MakeDatabaseWithEntityFramework</h2>
    </div>
    <div>
        <div>ASP.NET MVC                                           </div>
        <div>#1. 프레임워크 업그레이드                             </div>
        <div>    ASP.NET MVC Core 1.1                              </div>
        <div>#2. EntityFramework Core 설치                         </div>
        <div>#3. DbContext 생성 -> Table 생성할 수 있는 코드를 작성</div>
        <div>#4. DbContext -> 실제 테이블을 생성                   </div>
    </div>
</body>
</html>



