<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contents</title>
</head>
<body>
    <partial name="/Views/DevelopmentRabbit/Contents.cshtml" />
    <div>
        <h2> 7. MakeDatabaseWithEntityFramework</h2>
    </div>
    <div>
        <div>ASP.NET MVC                                           </div>
        <div>#1. 프레임워크 업그레이드                             </div>
        <div>    ASP.NET MVC Core 1.1                              </div>
        <div>#2. EntityFramework Core 설치                         </div>
        <div>#3. DbContext 생성 -> Table 생성할 수 있는 코드를 작성</div>
        <div>#4. DbContext -> 실제 테이블을 생성                   </div>
        
        <div>nugetPackage에 들어있는 최신버전 받는 방법                                                       </div>
        <div>references 우측 클릭 -> Manage Nuget Package -> updates 클릭 -> 해당 프로그램 클릭 -> update 클릭</div>

        
        
    </div>
</body>
</html>



