<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contents</title>
</head>
<body>
    <partial name="/Views/DevelopmentRabbit/Contents.cshtml"/>
    <div>
        <h2> 4. Razor Syntax</h2>
    </div>
    <div>
        <div>1. 골뱅이 기호 사용.                                         </div>
        <div>2. if, for, foreach 구문                                     </div>
        <div>3. (string) -> (int)  , toStirng(); 다른 연산은 지원하지 않음</div>
        <div>골뱅이{c#코드 블라블라}                                      </div>
    </div>
</body>
</html>
