<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contents</title>
</head>
<body>
    <partial name="/Views/DevelopmentRabbit/Contents.cshtml"/>
    <div>
        <h2> 3. 레이아웃이란?</h2>
    </div>
    <div>
        <div>_ViewImport.cshtml - 수정 할 일이 없음. 태그 헬퍼를 사용하기 위한 페이지                        </div>
        <div>_ViewStart.cshtml - _ViewStart.cshtml에 적용하면 자식 페이지에서는 정의하지 않아도 레이아웃 적용</div>
        <div>골뱅이RenderBody() - 레이아웃에 이걸 추가하면 그 부분에 자식 페이지를 렌더링한다.               </div>
        <div>골뱅이ViewData["데이타명"] - ViewData 라는 데이터를 넣음                                        </div>
        <div>의외의 사실인데 _ViewStart.cshtml에 meta태그를 넣어도 랜더링 후를 보면 body안에 들어가있다.     </div>
    </div>
</body>
</html>
