<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <partial name="/Views/DevelopmentRabbit/Contents.cshtml" />
    로그인 페이지
</body>
</html>
