@model gitHubTest.Models.User;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>로그인 성공 페이지</title>
</head>
<body>
    <partial name="/Views/DevelopmentRabbit/Contents.cshtml" />
    <h2>로그인 성공 페이지</h2>
</body>
</html>
